html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

main {
  background: #102E4A;
  z-index: 10;
  font-family: 'Overpass', sans-serif;
  position: relative; }

.container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  flex-flow: row wrap;
  width: 90%;
  justify-content: space-between;
  align-items: baseline; }

.colcontainer {
  display: flex;
  flex-flow: column;
  min-height: 100%;
  justify-content: start; }

.full {
  height: 100vh; }

.shadow {
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
  z-index: 11;
  position: relative; }

.footcontainer {
  display: flex;
  flex-flow: column; }

.workcontainer {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 2em; }

.secondarycolor {
  background: #555E88; }

.tertiarycolor {
  background: #9F9F9F; }

.github {
  color: white;
  fill: currentColor; }

img {
  max-width: 100%; }

a {
  text-decoration: none !important;
  font: inherit !important;
  color: inherit !important; }

h3 {
  text-decoration: none !important;
  font: inherit !important;
  color: inherit !important; }

li {
  list-style-type: none !important; }

ul, li {
  list-style: none;
  padding-left: none;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0; }

p {
  margin: 0px; }

nav {
  padding-top: 36px;
  font-size: 1.2rem; }

h2 {
  font-size: 2vw; }

h1 {
  font-family: 'Work Sans', sans-serif;
  color: white; }

body {
  margin: 0; }

.name {
  z-index: 10;
  font-family: 'Overpass', sans-serif;
  color: white;
  font-size: 2em;
  margin-right: auto; }

.about {
  z-index: 10;
  font-family: 'Overpass', sans-serif;
  color: white;
  font-size: 1.5em; }

.work {
  z-index: 10;
  font-family: 'Overpass', sans-serif;
  color: white;
  padding-left: 20px;
  font-size: 1.5em; }

.contact {
  z-index: 10;
  font-family: 'Overpass', sans-serif;
  color: white;
  padding-left: 20px;
  font-size: 1.5em;
  margin-right: 20px; }

.myface {
  flex: 1;
  margin-left: auto;
  margin-right: auto; }

.avatar {
  position: relative;
  display: block;
  border-radius: 50%;
  border: .3rem solid #555E88;
  box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  width: clamp(10rem, 22.5vw, 30rem); }

.intro {
  z-index: 10;
  font-size: clamp(1.5rem, 1.75vw, 2.5rem);
  flex: 2;
  font-family: 'Overpass', sans-serif;
  color: white;
  margin-right: auto; }

.workintro {
  z-index: 10;
  font-size: clamp(1.5rem, 3vw, 5rem);
  font-weight: 700;
  flex: 2;
  font-family: 'Overpass', sans-serif;
  color: white;
  margin-right: auto; }

.workdesc {
  font-size: clamp(1.5rem, 2vw, 5rem); }

.caption {
  padding: .5rem;
  text-align: center; }

.current {
  z-index: 10;
  color: white;
  font-family: 'Work Sans', sans-serif;
  max-width: 900px;
  width: 40%;
  font-size: 1.75em;
  margin-right: auto; }

.fillremaining {
  flex-grow: 1; }

.companyimage {
  width: 40%; }

.padtop {
  padding-top: 2rem; }

.doublepadtop {
  padding-top: 6rem; }

.column3 {
  z-index: 10;
  font-family: 'Work Sans', sans-serif;
  color: white;
  padding-top: 24px;
  max-width: 900px;
  width: 25%;
  font-size: 1.75em; }

.hiddencolumn {
  flex: 1; }

.workimage {
  width: 90%;
  padding: 15px; }

.gif {
  width: 90%;
  max-height: 480px; }

.workitem {
  display: flex;
  box-sizing: content-box;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Work Sans', sans-serif;
  background-color: #E4E4E4;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: .5rem;
  text-align: left;
  margin: 4vh 17.5vh;
  box-sizing: border-box; }

.smallworkitem {
  display: flex;
  background-color: #E4E4E4;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: .5rem;
  text-align: left;
  margin: 4vh 4vh;
  box-sizing: border-box;
  width: 20%;
  align-items: center; }

.aboutdesc {
  display: flex;
  flex-direction: column;
  flex: .75;
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-size: 2em;
  padding-left: 1.5rem; }

p .aboutdesc {
  font-size: 1.25rem; }

.smallworkdesc {
  z-index: 10;
  font-family: 'Work Sans', sans-serif;
  background-color: #E4E4E4;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1000px;
  flex: 1;
  font-size: 1.5em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  align-self: center; }

.picdesc {
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem; }

.smallworkitem h1 {
  padding: 0 1rem;
  vertical-align: middle;
  color: black; }

.left {
  width: 30%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.right {
  width: 50%;
  text-align: left;
  padding: 1rem;
  font-size: 1.5em;
  font-family: 'Work Sans', sans-serif; }

.small {
  display: flex;
  box-sizing: content-box;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

.fill {
  min-width: 100%;
  min-height: 10%;
  display: block;
  overflow: hidden;
  object-fit: cover; }

.enginerender {
  width: 50%; }

.grad {
  background-color: #102E4A;
  height: 100vh !important;
  background-image: linear-gradient(to bottom, #102E4A, #9ebde5); }

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  display: block; }

@media (max-width: 1200px) {
  .left, .right, .aboutdesc {
    width: 100% !important; }
  .smallworkitem {
    width: 50% !important; } }

footer {
  padding-top: 1.25rem; }

.sectionheader {
  z-index: 10;
  font-family: 'Work Sans', sans-serif;
  font-size: 4vw;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  padding-bottom: 1em;
  padding-top: 2em;
  margin: 0;
  width: 100%; }

.lreheader {
  z-index: 10;
  font-family: 'Work Sans', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  padding: 2rem; }

.aboutheader {
  z-index: 10;
  font-family: 'Work Sans', sans-serif;
  font-size: clamp(1.5rem, 2.5vw, 4rem);
  font-weight: bold;
  color: white;
  padding: 0; }

.sectiondescription {
  z-index: 10;
  font-family: 'Work Sans', sans-serif;
  font-size: 3vw;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
  text-align: start; }

.fullcontainer {
  height: 70vh;
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.picturecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  margin: 3vw 0; }

.rocket {
  padding-right: 4rem;
  object-fit: cover; }

.extraspace {
  padding-top: 128px; }

.center {
  align-items: center; }

.companyopacity {
  opacity: .25; }

.joblink {
  margin-top: 32px; }

.footerlink {
  padding-top: .75rem;
  font-size: 3.5rem; }

.fade-in-o {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
  animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s; }

.fade-in-o2 {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
  animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

.fade-in-o3 {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
  animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 3s;
  animation-duration: 3s; }

@keyframes fadeInOpacity {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.hover {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hover:hover, .hover:focus, .hover:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px); }

.hovercolor {
  -webkit-transition-duration: .2s;
  transition-duration: .2s; }

.hovercolor:hover, .hovercolor:focus, .hovercolor:active {
  color: #FE642E !important; }

.arrow {
  display: flex;
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  /* Arrow size */
  box-shadow: 1px -1px 0 1px plum inset;
  -webkit-box-shadow: 2px -2px plum inset;
  border: solid transparent;
  border-width: 0 0 2rem 2rem;
  transition: 0.2s;
  bottom: 0px;
  outline: 0px; }

.arrow:hover {
  box-shadow: 2px -2px 0 2px orchid inset;
  -webkit-box-shadow: 4px -4px orchid inset; }

.arrow-up {
  transform: rotate(135deg); }

.arrow-right {
  transform: rotate(225deg); }

.arrow-down {
  transform: rotate(-45deg); }

.arrow-left {
  transform: rotate(45deg); }
